@model AspTalbrat.Models.Journee

@{
    ViewData["Title"] = "Details";
}


<main class="content">
    <div class="card">
        <div class="card-body">
            <h1>Details</h1>

            <div>
                <h4>Journee</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Date.ToString("dd/MM/yyyy")
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Numero)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Numero)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Note)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Note)
                    </dd>
                </dl>
               
                <p>Paiements : </p>
                <dl class="row">
                    @foreach (var p in Model.Paiements)
                    {
                        <dt class="col-sm-2">
                            @p.Libelle
                        </dt>
                        <dd class="col-sm-10">
                            @p.Montant
                        </dd>
                    }
                </dl>
            </div>
            <div>
                <a asp-action="Index">Back to List</a> |
                <a asp-action="Edit" asp-route-id="@Model?.Id">Print</a>
            </div>

        </div>
    </div>
</main>

